<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta
			content="width=device-width, initial-scale=1"
			name="viewport"
		/>
		<title>VuetifyImageInput</title>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
			rel="stylesheet"
		/>
		<link
			href="https://unpkg.com/@mdi/font@5/css/materialdesignicons.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://unpkg.com/vuetify@next/dist/vuetify.css"
			rel="stylesheet"
		/>
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
		<script src="https://unpkg.com/vue@3"></script>
		<script src="https://unpkg.com/vuetify@next/dist/vuetify.js"></script>
		<script src="./index.js"></script>
		<script
			defer
			src="./demo/script.js"
		></script>
	</head>
	<body>
		<v-app>
			<v-main>
				<div
					style="
						align-items: center;
						display: grid;
						grid-template-columns: 1fr 1fr 1fr;
						height: 100%;
						width: 100%;
					"
				>
					<div
						style="
							display: grid;
							gap: 8px;
						"
					>
						<label>
							<input
								v-model="disabled"
								type="checkbox"
							/>
							<span>disabled</span>
						</label>
						<label>
							<input
								v-model="readonly"
								type="checkbox"
							/>
							<span>readonly</span>
						</label>
						<label>
							<input
								v-model="clearable"
								type="checkbox"
							/>
							<span>clearable</span>
						</label>
						<div style="display: grid">
							<label>
								<input
									v-model="imageMinScaling"
									type="radio"
									value="cover"
								/>
								<span>cover</span>
							</label>
							<label>
								<input
									v-model="imageMinScaling"
									type="radio"
									value="contain"
								/>
								<span>contain</span>
							</label>
						</div>
					</div>
					<img
						:src="image"
						style="
							background-color: aqua;
							display: block;
						"
					/>
					<v-image-input
						v-model="image"
						v-bind="{
							clearable,
							disabled,
							imageMinScaling,
							readonly,
						}"
					></v-image-input>
				</div>
			</v-main>
		</v-app>
	</body>
</html>
