<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
			name="viewport"
		/>
		<title>VuetifyImageInput</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.2.5/polyfill.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js"></script>
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
			rel="stylesheet"
		/>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.4.3/vuetify.min.css"
			rel="stylesheet"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.4.3/vuetify.min.js"></script>
		<script src="https://unpkg.com/@seregpie/claw@3.0.0"></script>
		<script src="https://unpkg.com/vueclaw@1.1.0"></script>
		<script src="VuetifyImageInput.js"></script>
	</head>
	<body>
		<v-app
			v-cloak
			id="app"
			:dark="dark"
		>
			<v-navigation-drawer
				v-model="drawer"
				app
				clipped
			>
				<v-container
					class="pa-2"
					fluid
					grid-list-lg
				>
					<v-layout column>
						<v-flex>
							<v-checkbox
								v-model="clearable"
								class="ma-0"
								hide-details
								label="clearable"
							></v-checkbox>
						</v-flex>
						<v-flex>
							<v-text-field
								v-model="imageWidth"
								:max="1024"
								:min="32"
								box
								hide-details
								label="image width"
								type="number"
							></v-text-field>
						</v-flex>
						<v-flex>
							<v-text-field
								v-model="imageHeight"
								:max="1024"
								:min="32"
								box
								hide-details
								label="image height"
								type="number"
							></v-text-field>
						</v-flex>
						<v-flex>
							<v-text-field
								v-model="outputScale"
								:max="10"
								:min="1"
								box
								hide-details
								label="output scale"
								type="number"
							></v-text-field>
						</v-flex>
						<v-flex>
							<v-radio-group
								v-model="minScaling"
								class="ma-0"
								hide-details
								label="min scaling"
							>
								<v-radio
									label="cover"
									value="cover"
								></v-radio>
								<v-radio
									label="contain"
									value="contain"
								></v-radio>
							</v-radio-group>
						</v-flex>
						<v-flex>
							<v-checkbox
								v-model="hideActions"
								class="ma-0"
								hide-details
								label="hide actions"
							></v-checkbox>
						</v-flex>
						<v-flex>
							<v-checkbox
								v-model="disabled"
								class="ma-0"
								hide-details
								label="disabled"
							></v-checkbox>
						</v-flex>
						<v-flex>
							<v-checkbox
								v-model="readonly"
								class="ma-0"
								hide-details
								label="readonly"
							></v-checkbox>
						</v-flex>
						<v-flex>
							<v-checkbox
								v-model="fullWidth"
								class="ma-0"
								hide-details
								label="full width"
							></v-checkbox>
						</v-flex>
						<v-flex>
							<v-checkbox
								v-model="fullHeight"
								class="ma-0"
								hide-details
								label="full height"
							></v-checkbox>
						</v-flex>
						<v-flex>
							<v-input
								label="background color"
								hide-details
							></v-input>
							<v-btn-toggle v-model="backgroundColorIndex">
								<v-btn
									v-for="(value, index) in backgroundColorValues"
									:key="index"
									:value="index"
									color="primary"
									flat
								>
									<div
										v-if="value"
										:style="{backgroundColor: value}"
										style="
											height: 24px;
											width: 24px;
										"
									></div>
									<v-icon
										v-else
									>block</v-icon>
								</v-btn>
							</v-btn-toggle>
						</v-flex>
					</v-layout>
				</v-container>
			</v-navigation-drawer>
			<v-toolbar
				app
				clipped-left
				color="primary"
				dark
				dense
			>
				<v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
				<v-toolbar-title>VuetifyImageInput</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-btn
					icon
					@click="dark = !dark"
				>
					<v-icon>invert_colors</v-icon>
				</v-btn>
				<v-btn
					href="https://github.com/SeregPie/VuetifyImageInput"
					icon
					target="_blank"
				>
					<svg
						style="
							fill: currentColor;
							height: 24px;
							width: 24px;
						"
						viewBox="0 0 16 16"
					><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
				</v-btn>
			</v-toolbar>
			<v-content>
				<v-container
					fill-height
					justify-center
				>
					<v-image-input
						v-model="value"
						:background-color="backgroundColor"
						:clearable="clearable"
						:debounce="250"
						:disabled="disabled"
						:full-height="fullHeight"
						:full-width="fullWidth"
						:hide-actions="hideActions"
						:image-height="Number.parseInt(imageHeight)"
						:image-width="Number.parseInt(imageWidth)"
						:min-scaling="minScaling"
						:output-scale="outputScale"
						:readonly="readonly"
					></v-image-input>
				</v-container>
			</v-content>
			<v-dialog
				v-model="dialog"
				scrollable
			>
				<v-btn
					slot="activator"
					:disabled="!value"
					bottom
					color="accent"
					dark
					fab
					fixed
					right
				>
					<v-icon>image</v-icon>
				</v-btn>
				<v-card>
					<v-card-text class="justify-center">
						<div
							style="
								display: flex;
								justify-content: center;
							"
						>
							<img :src="value" style="border: 1px solid #888"/>
						</div>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							flat
							@click="dialog = false"
						>close</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-app>
		<script src="demo/script.js"></script>
	</body>
</html>
